.chevronDownContainer{
    text-align: center;
    margin-top: -21.5px;
}
.line{
    background-color: #ff3c00;
    height: 5px;
    margin-top: 0;
    padding-top: 0;
    border: none;
    margin-top: -2px;
   
}
.buttonLine{
    width: 80px;
    height: 40px;
    background-color: #ff3c00;
    outline: none;
    border: none;
    
}
.chevronDownIcon{
    color: #fff;
    font-size: 2rem;
}
