.aboutMe{
    display: grid;
    justify-items: center;
}
.aboutMe_paragraph{
    text-align: center;
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.aboutMe_section{
  display: grid;
  justify-content: start;
  padding-bottom: 20px;
  margin-left: 30px;
}
.button_aboutMe{
    width: 180px;
    height: 40px;
    border: solid 2px #ffa700;
    text-transform: uppercase;
    border-radius: 8px;
    color: #545454;
    font-size: 12px;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    background-color: #fff;
    outline: none;
  }
  .button_aboutMe:hover {
    background-color: #ffa700;
    color: #fff;
  }