.aboutMeParagraph{
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color:#4a4a4a;
   
}
.link {
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;

    
}